g2pM
dragonmapper
chinese_converter
g2pk2
jamo
pyopenjtalk
pycantonese
gruut
Cython
transformers
tensorboard
Unidecode
soundcard
pyworld
loguru
scipy==1.10.0
matplotlib==3.7.0
matplotlib-inline
librosa
mishkal>=0.4.0
numpy
regex
